examples/encode
examples/decode 

map/construct_guidetable
map/construct_map
map/guidetable.bin
map/uint32_array_to_c
map/wordmap.bin

plaintext/50k-newline-separated.txt
plaintext/50k-newline-separated-sorted.txt
plaintext/sort_wordlist
plaintext/wordtable.bin

src/globals/

util/c_hexdump

build*
.vscode/
